<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
    Material Design - Prototype android layout | Generate Theme
    </title>

    <meta name="description" content="Tired of figuring out the perfect material design colors for your app. This tool gets you the ultimate color combination as per google standards. Use color panel to build theme for you application for material design">
    <meta name="keywords" content="Material Design, Theme, Android, Apps">
    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/customcss.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body ng-app="materialApp" style="background-color:#374046">
    <!-- Navigation -->
    <nav id="myNavbar" class="navbar navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="fluid-container" style="padding-left:16px;padding-right:16px">
        <div class="navbar-header">
          <span class="navbar-brand" style="color:white">Design Material</span>
        </div>
        <i class="material-icons pull-right" data-toggle="modal" data-target="#myModal" style="font-size: 23px;cursor:pointer">help_outline</i>
      </div>
    </nav>
    <!-- Navigation END-->
    <div class="fluid-container h100">
      <!-- Main Row Start -->
      <div class="h100">
        <!-- Left Selector Start-->
        <div class="col-xs-5 h100" ng-controller="SelectorController as selector">
          <div class="col-xs-3" style="height: 20%; color:white">
            
            <button ng-click="selector.randomTheme()" type="button" class="mdl-button mdl-js-button mdl-button--raised" style="background-color:orange;color:white">Random</button>
            <p>P - {{selector.names[selector.hex.indexOf(selector.color.primary)]}}<br/>A - {{selector.names[selector.hex.indexOf(selector.color.accent)]}}</p>
            
          </div>
          <div class="col-xs-3" ng-class="{box: hex!=selector.color.primary && hex!=selector.color.accent, boxActive: hex==selector.color.primary || hex==selector.color.accent}" style="height: 20%;" ng-repeat="hex in selector.hex" ng-click="selector.changeColors(hex)">
            <div class="inner" style="background: #{{hex}};height: 100%;position: relative;">
              <span style="color:#FFFFFF;font-weight: bolder;margin:5px;padding: 2px">{{selector.names[$index]}}</span>
              <p style="position: absolute;  bottom: 0;  right: 16px;font-weight: bolder;color: white;" ng-show="hex==selector.color.primary &&
              selector.color.primary != selector.color.accent">P</p>
              <p style="position: absolute;  bottom: 0;  right: 16px;font-weight: bolder;color: white;" ng-show="hex==selector.color.accent && selector.color.primary == selector.color.accent">P + A</p>
              <p style="position: absolute;  bottom: 0;  right: 16px;font-weight: bolder;color: white;" ng-show="hex==selector.color.accent && selector.color.primary != selector.color.accent">A</p>
            </div>
          </div>
        </div>
        <!-- Left Selector End -->
        <!-- Right Panel Start -->
        <div class="col-xs-7 h100"  ng-controller="PanelController as panel">
          <div class="col-xs-12 h100" style="height: 100%;">
            <div class="row" style="height: 70%;padding-bottom:16px">
              <div class="col-xs-6 h100">
                <div class="mdl-card mdl-shadow--4dp h100">
                  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                    mdl-layout--fixed-tabs">
                    <div style="background-color: #{{panel.color.dark}};">
                      <span style="font-size: 12px;color:white;float: right;padding: 3px">12:00</span>
                      <i class="material-icons" style="font-size: 15px;color:white;float: right;padding: 3px" >location_on</i>
                      <i class="material-icons" style="font-size: 15px;color:white;float: right;padding: 3px" >perm_scan_wifi</i>
                      <i class="material-icons" style="font-size: 15px;color:white;float: left;padding: 3px" >email</i>
                      <i class="material-icons" style="font-size: 15px;color:white;float: left;padding: 3px" >alarm_on</i>
                    </div>
                    <header class="mdl-layout__header" style="background-color:#{{panel.color.primary}}">
                      <div class="mdl-layout__header-row"  style="padding:16px"  >
                        <span class="mdl-layout-title">Title</span>
                      </div>
                      <!-- Tabs -->
                      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                        <a href="#fixed-tab-1" style="background-color:#{{panel.color.primary}};white" class="mdl-layout__tab is-active">Tab 1</a>
                        <a href="#fixed-tab-2" style="background-color:#{{panel.color.primary}};white" class="mdl-layout__tab">Tab 2</a>
                        <a href="#fixed-tab-3" style="background-color:#{{panel.color.primary}};white" class="mdl-layout__tab">Tab 3</a>
                      </div>
                    </header>
                    <main class="mdl-layout__content">
                    
                    <ul class="demo-list-three mdl-list">
                      <li class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                          <i class="material-icons mdl-list__item-avatar">person</i>
                          <span style="color:#{{panel.color.primaryText}}">Sachin Tendulkar</span>
                          <span style="color:#{{panel.color.secondaryText}}"class="mdl-list__item-text-body">
                            This blog is for cricket lovers and specially for the fans of Sachin Tendulkar. Here you will get all the information about Sachin.
                          </span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                          <a class="mdl-list__item-secondary-action" href="#"><i style="color:#{{panel.color.accent}}" class="material-icons">star</i></a>
                        </span>
                      </li>
                      <li class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                          <i class="material-icons  mdl-list__item-avatar">person</i>
                          <span style="color:#{{panel.color.primaryText}}">Salman Khan</span>
                          <span style="color:#{{panel.color.secondaryText}}" class="mdl-list__item-text-body">
                            Abdul Rashid Salim Salman Khan (born 27 December 1965), credited as Salman Khan is an Indian film actor, producer and television personality.
                          </span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                          <a class="mdl-list__item-secondary-action" href="#"><i style="color:#{{panel.color.accent}}" class="material-icons">star</i></a>
                        </span>
                      </li>
                      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab"
                      style="color: white;background-color: #{{panel.color.accent}}">
                      <i class="material-icons">add</i>
                      </button>
                    </ul>
                    </main>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 h100">
                <div class="mdl-card mdl-shadow--4dp h100">
                  <!-- Simple header with fixed tabs. -->
                  <div style="background-color: #{{panel.color.dark}};">
                    <span style="font-size: 12px;color:white;float: right;padding: 3px">12:00</span>
                    <i class="material-icons" style="font-size: 15px;color:white;float: right;padding: 3px" >location_on</i>
                    <i class="material-icons" style="font-size: 15px;color:white;float: right;padding: 3px" >perm_scan_wifi</i>
                    <i class="material-icons" style="font-size: 15px;color:white;float: left;padding: 3px" >email</i>
                    <i class="material-icons" style="font-size: 15px;color:white;float: left;padding: 3px" >alarm_on</i>
                  </div>
                  
                  <header class="mdl-layout__header" style="background-color:#{{panel.color.primary}}">
                    <div class="mdl-layout__header-row"  style="padding:16px"  >
                      <span class="mdl-layout-title">Title</span>
                    </div>
                  </header>
                  <main class="mdl-layout__content" style="padding: 16px">
                  <div class="mdl-card mdl-shadow--4dp" style="width:100%">
                    <div class="mdl-card__title">
                      <h4>Card Title</h4>
                    </div>
                    
                    <p style="padding:16px">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                  <!-- Accent-colored raised button -->
                  <button class="mdl-button mdl-js-button mdl-button--raised" style="color:white;background-color:#{{panel.color.accent}};float:right;margin:16px">
                  Button
                  </button>
                  
                  </main>
                </div>
              </div>
            </div>
            <div class="row" style="height:30%;">
              <color-panel color="{{panel.color.primary}}" color-name="Primary" font-color="white"></color-panel>
              <color-panel color="{{panel.color.accent}}" color-name="Accent" font-color="white"></color-panel>
              <color-panel color="{{panel.color.dark}}" color-name="Primary Dark" font-color="white"></color-panel>
              <color-panel color="{{panel.color.lightPrimary}}" color-name="Primary Light" font-color="black"></color-panel>
              <color-panel color="{{panel.color.txt}}" color-name="Icon/Text" font-color="{{panel.color.txt==='212121' ? 'white' : 'black'}}"></color-panel>
              <color-panel color="{{panel.color.primaryText}}" color-name="Primary Text" font-color="white"></color-panel>
              <color-panel color="{{panel.color.secondaryText}}" color-name="Secondary Text" font-color="white"></color-panel>
              <color-panel color="{{panel.color.divider}}" color-name="Divider" font-color="white"></color-panel>
            </div>
          </div>
          
        </div>
      </div>
      <!-- Right Panel End -->
    </div>
    <!-- Main Row End -->
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">Instructions</h5>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        
      </div>
    </div>
  </div>
  <!-- *************** JS Section ****************** -->
  <!--Include Jquery -->
  <script src="js/jquery-1.9.0.min.js"></script>
  <!-- <script src="js/jquery-ui.js"></script> -->
  <!--Include Material -->
  <script src="js/material.min.js"></script>
  <!--Include Angular -->
  <script src="js/angular.min.js"></script>
  <!--Include Custom JS -->
  <script src="js/custom.js"></script>
  <!--Include Clipboard -->
  <script src="js/clipboard.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!--Initiate Clipboard -->
  <script>
  var clipboard = new Clipboard('color-panel > .box');
  clipboard.on('success', function(e) {
  console.log(e);
  });
  
  clipboard.on('error', function(e) {
  console.log(e);
  });
  
  </script>
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-80475171-2', 'auto');
  ga('send', 'pageview');
  </script>
  
</body>
</html>